*{ padding: 0; margin: 0; border: 0; font-size: 18px; line-height: 24px; cursor: default; }
*,*:before,*:after{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
:focus,:active{outline: none;}
html,body{
	height: 100%;
	width: 100%;
	font-size: inherit;
	line-height: inherit;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
button::-moz-focus-inner {padding:0;border:0;}
img{vertical-align: top;}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* background: #fb9b01b2; */
}
